<div id="header" class="ui stackable two column grid">
    <div class="column">
        <h1 class="ui header">
            <i class="circular money icon"></i>
            <div class="content">
                {{ settlement.vendor.companyName }}
                <div class="sub header"> {{ [settlement.startDate|format_date(), settlement.endDate|format_date()]|join(' - ') }}</div>
            </div>
        </h1>
        {% include "Context/Admin/Settlement/Show/_breadcrumb.html.twig" %}
    </div>
    <div class="middle aligned column">
        <div class="ui right floated buttons">
            <a class="ui labeled icon button green" href="{{ path('open_marketplace_admin_settlements_show_orders', {'id': settlement.id}) }}">
                <i class="cart up icon"></i> {{ 'open_marketplace.ui.show_orders'|trans }}
            </a>
        </div>
    </div>
</div>
