{% if vendor.status == constant('BitBag\\OpenMarketplace\\Entity\\VendorInterface::STATUS_VERIFIED') %}
    <span class="ui teal label"><i class="checkmark icon"></i>{{ 'open_marketplace.ui.verified'|trans }}</span>
{% else %}
    <span class="ui red label"><i class="remove icon"></i>{{ 'open_marketplace.ui.unverified'|trans }}</span>
{% endif %}

{% if vendor.enabled == true %}
    <span class="ui teal label"><i class="checkmark icon"></i>{{ 'open_marketplace.ui.enabled'|trans }}</span>
{% else %}
    <span class="ui red label"><i class="remove icon"></i>{{ 'open_marketplace.ui.disabled'|trans }}</span>
{% endif %}
