<div class="four wide column">
    <a href="https://open-marketplace.io" target="_blank" style="display: inline-block; text-align: center;">
        <a href="{{ path('sylius_shop_homepage') }}">
            <img src="{{ asset('open-marketplace-logo.png') }}" alt="BitBag OpenMarketplace logo" class="ui medium image" style="background: white;padding: 20px;border-radius: 4px;position: relative;top: -12px;"/>
        </a>
    </a>
</div>
