<div class="ui divider"></div>

<table class="ui very basic celled table">
    <tbody>
    <tr>
        <td class="five wide gray text">
            <strong>
                {{ 'open_marketplace.ui.tax_category'|trans }}
            </strong>
        </td>
        <td class=" gray text">
            {{ productDraft.taxCategory|default('-') }}
        </td>
    </tr>
    </tbody>
</table>
