<a href="{{ path('open_marketplace_admin_virtual_wallet_index', {criteria:{vendor: data.id}}) }}" class="ui labeled icon button" type="submit">
    <i class="icon credit card"></i>
    {{ 'open_marketplace.ui.show_virtual_wallets'|trans }}
</a>
