<a href="{{ path('open_marketplace_admin_settlement_index', {criteria:{vendor: data.id}}) }}" class="ui labeled icon button" type="submit">
    <i class="icon money"></i>
    {{ 'open_marketplace.ui.show_settlements'|trans }}
</a>
