{% if paths.logo is defined %}
    <div style="max-width: 340px;margin: 0 auto;margin-bottom: 60px;">
        <img src="{{ asset('open-marketplace-logo.png') }}" class="ui fluid image" id="logo">
    </div>
{% endif %}
