@import "error_pages";
@import "shop/_vendor_page";
@import "shop/_wishlists";
@import "vendor/attributes";
@import "vendor/_layout";
@import "vendor/_forms";
@import "vendor/_listing_dropdown";
@import "vendor/_review_dropdown";

body.pushable .pusher {
  background-color: #fbfbfb;
}

.ui.label.teal {
  background-color: #0ab727 !important;
}

.ui.label.blue {
  background-color: #28afff !important;
}

// Entity listing table responsiveness fix
@media (max-width: 767px) {
  .ui.table:not(.unstackable) {
    thead {
      display: table-header-group;
    }

    tbody {
      display: table-row-group!important;
    }

    tr {
      display: table-row!important;
    }

    tr > td, tr > th {
      display: table-cell!important;
    }
  }
}
