<table class="ui celled table">
    <thead>
    {% include 'Checkout/ThankYouPage/Table/_headers.html.twig' %}
    </thead>
    <tbody>
    {% include 'Checkout/ThankYouPage/Table/_items.html.twig' %}
    </tbody>
</table>
