<table class="ui celled table" {{ sylius_test_html_attribute('order-table') }}>
    <thead>
    {% include 'Checkout/ThankYouPage/Table/_headers.html.twig' %}
    </thead>
    <tbody>
    {% include 'Checkout/ThankYouPage/Table/_items.html.twig' %}
    </tbody>
</table>
