<div class="column">
    <a href="{{ path('sylius_shop_homepage') }}">
        <img src="{{ asset('open-marketplace-logo.png') }}" alt="Open Marketplace logo" class="ui medium image" />
    </a>
</div>
