<table class="ui celled table">
    <thead>
        {% include 'Context/Shop/Checkout/ThankYouPage/Table/_headers.html.twig' %}
    </thead>
    <tbody>
        {% include 'Context/Shop/Checkout/ThankYouPage/Table/_items.html.twig' %}
    </tbody>
</table>
