
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
</body>
</html>
