<div class="ui info message">
        <div class="header" style="text-align: center">Vendor test credentials</div><br/>
        <div style="display: flex; justify-content: space-around">
            <div>
                <p style="display: flex; flex-wrap: wrap; flex-direction: column">
                    <span>Username: <strong>camille@example.com</strong></span>
                    <span>Password: <strong>password</strong></span>
                </p>
                <p style="display: flex; flex-wrap: wrap; flex-direction: column">
                    <span>Username: <strong>good-and-better@example.com</strong></span>
                    <span>Password: <strong>password</strong></span>
                </p>
            </div>
            <div>
                <p style="display: flex; flex-wrap: wrap; flex-direction: column">
                    <span>Username: <strong>lisa-comp@example.com</strong></span>
                    <span>Password: <strong>password</strong></span>
                </p>
                <p style="display: flex; flex-wrap: wrap; flex-direction: column">
                    <span>Username: <strong>health@example.com</strong></span>
                    <span>Password: <strong>password</strong></span>
                </p>
            </div>
        </div>
</div>
