<tr>
    <td class="center aligned">{{ secondaryOrder.vendor.companyName }}</td>
    <td>
        {% for item in secondaryOrder.items %}
            {% if secondaryOrder.items|length > 1 %}
                {% if loop.last %}
                    {% include '@SyliusShop/Product/_info.html.twig' with {'variant': item.variant} %}
                {% else %}
                {% include '@SyliusShop/Product/_info.html.twig' with {'variant': item.variant} %}
                    <div class="ui divider"></div>
                {% endif %}
            {% else %}
                {% include '@SyliusShop/Product/_info.html.twig' with {'variant': item.variant} %}
            {% endif %}
        {% endfor %}
    </td>
    <td class="center aligned">{% include 'Checkout/ThankYouPage/Table/_shipments.html.twig' %}</td>
</tr>
