{% set item = secondaryOrder.items|last  %}
{% for shipment in order.shipments %}
    {% if shipment.vendor is same as item.productOwner %}
    {% set state = shipment.state %}
    <div class="ui small icon message">
        <i class="truck icon"></i>
        <div class="content">
            <div class="header">
                {{ shipment.method }}
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
