{% set path =  path('bitbag_mvm_plugin_admin_product_listing_accept', { 'id': productListing.id }) %}

<form action="{{ path }}" method="post">
    <button class="ui button green" data-requires-confirmation>
        <i class="icon check"></i>{{ 'bitbag_mvm_plugin.ui.accept' | trans }}
    </button>
</form>
