{% set path =  path('bitbag_sylius_multi_vendor_marketplace_plugin_admin_product_listing_reject', { 'id': productListing.id }) %}

<a class="ui button red" href={{ path }} onclick="return confirm('{{ 'bitbag_sylius_multi_vendor_marketplace_plugin.ui.confirm' | trans }}')"> <i class="icon x icon"></i>{{ 'bitbag_sylius_multi_vendor_marketplace_plugin.ui.reject' | trans }}</a>
