<div class="ui center aligned inverted basic segment">
    <h5>{{ 'open_marketplace.ui.footer_signature'|trans }}</h5>
    <a target="_blank" href="//linkedin.com/company/bitbag"><i class="big grey linkedin icon"></i></a>
    <a target="_blank" href="//facebook.com/bitbag"><i class="big grey facebook icon"></i></a>
    <a target="_blank" href="//instagram.com/bitbag.commerce"><i class="big grey instagram icon"></i></a>
    <a target="_blank" href="//twitter.com/bitbagcommerce"><i class="big grey twitter card icon"></i></a>
    <a target="_blank" href="//github.com/BitBagCommerce"><i class="big grey github icon"></i></a>
    <a target="_blank" href="//join.slack.com/t/openmarketplacegroup/shared_invite/zt-1ij1t41wx-HfAR6~URm3OAcqm0jc423Q"><i class="big grey slack icon"></i></a>
</div>
