<div class="ui center aligned inverted basic segment">
    <p>&copy; {{ 'sylius.ui.your_store'|trans }}, {{ 'sylius.ui.powered_by'|trans }} <a href="https://bitbag.io/" target="_blank" style="color: #1e98e2;">BitBag</a>.</p>
    <a target="_blank" href="//facebook.com/bitbag"><i class="big grey facebook icon"></i></a>
    <a target="_blank" href="//instagram.com/bitbag.commerce"><i class="big grey instagram icon"></i></a>
    <a target="_blank" href="//twitter.com/bitbagcommerce"><i class="big grey twitter card icon"></i></a>
</div>
