<a class="item" href="{{ path('sylius_admin_dashboard') }}" style="padding: 0px;">
    <div style="background: #fafafa; padding: 18px; width: 100%; max-width: 100%; border-bottom-right-radius: 10px">
        <img src="{{ asset('open-marketplace-logo.png') }}" class="ui fluid image">
    </div>
</a>
